<h1 class="text-center">Cart</h1>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center">
        <!--{{cart.nbBooks, plural,-->
            <!--=0 {{{'views.cart.purchase.book.title' | translate}}}-->
            <!--=1 {{{'views.cart.purchase.book.title' | translate}}}-->
            <!--other {{{'views.cart.purchase.book.title' | translate}}}-->
        <!--}}-->
            {{ 'views.cart.purchase.book.title' | translate:"{ nbBook: " + cart.nbBooks + " }" }}
        </h3>
        <div ng-repeat="item in cart.cart.purchase">
            <div class="panel panel-default purchase-item-cart">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <div class="text-center">
                                <img class="cover-item-cart" ng-src="{{item.book.cover}}" />
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                                <button type="button" class="btn btn-danger btn-xs right glyphicon glyphicon-remove hidden-xs" ng-click="cart.removeBook(item)"></button>
                            <div class="clearfix title-item-cart">
                                {{item.book.title}}
                            </div>
                            <div>
                                <div>Price : {{item.book.price}}</div>
                                <span>Quantity : <input type="number"  ng-model="item.number" ng-change="cart.changeQuantity(item)" /></span>
                                <button type="button" class="btn btn-danger btn-xs right glyphicon glyphicon-remove visible-xs-block" ng-click="cart.removeBook(item)"></button>
                                <span class="clearfix"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center">Total price : {{cart.bestOffer}}</h3>
    </div>
</div>

